body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

.container {
    background: white;
    padding: 20px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000020;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#inputNome {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-add {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #217dbb;
}

#lista {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#lista li {
    background: #e8e8e8;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-remover {
    padding: 4px 8px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-remover:hover {
    background-color: darkred;
}
